<launch>

  <node pkg="laser-odom_calibration" name="calib" type="io_test" output="screen">
    <param name="file_path" type="string" value="/home/ri-robot/learn/calibration_ws/src/OdomLaserCalibraTool/" />
    <param name="bagname" type="string" value="2022-06-17-18-01-22" />
    <param name="laser_topic" type="string" value="/scan" />
    <param name="odom_topic" type="string" value="/wheel_speedv" />
  </node>

</launch>
